<ion-content padding>
    <div *ngIf="!loggingIn">
        <img id="logo" src="./assets/logo.png">
        <div  id="signup-buttons">
            <button ion-button color="secondary" class="rosy-button">sign up with google <ion-icon name="logo-google"></ion-icon></button>
            <button ion-button color="secondary" class="rosy-button">sign up with facebook <ion-icon name="logo-facebook"></ion-icon></button>
            <button ion-button color="secondary" class="rosy-button" (click)="gotoEmailSignup()">sign up with email <ion-icon name="mail"></ion-icon></button>
        </div>
        <div id="login">already #rosy? login!</div>
    </div>
    <div *ngIf="emailSignup && !loggedIn">
        <img id="logo" src="./assets/logo.png">
        <div id="email-signup">
            <div class="login-input">email<ion-input type="text" [(ngModel)]="email" placeholder="your email address"></ion-input></div>
            <div class="login-input">password<ion-input id="password" type="password" [(ngModel)]="password" placeholder="make it tough!"></ion-input></div>
            <button ion-button color="secondary" class="rosy-button" (click)="signupByEmail(email, password)">get #rosy!</button>
        </div>
    </div>
    <div *ngIf="onboardingStep === 1">
        <div class="centered onboarding-centered" id="onboarding-1">
            <div id="weird-images">
                <img id="star" src="./assets/star.png">
                <img id="lightning" src="./assets/lightning.png">
                <img id="alien" src="./assets/alien.png">
                <img id="planet" src="./assets/planet.png">
            </div>
            this is ur space!<br>
            to optimize this new dimension, we'll<br>
            ask u about ur health, habits, and goals.<br>
            so before u move in, do u mind if we get<br>
            familiar?<br>
            <button ion-button color="secondary" class="rosy-button" (click)="nextOnboardingStep()">I'm ready!</button>
        </div>
        <div id="privacy-policy">privacy policy</div>
    </div>
    <div *ngIf="onboardingStep === 2">
        <img id="cycle" src="./assets/cycle.png">
        <img id="venus" src="./assets/Venus Symbols Conjoined.png">
        <div id="onboarding-2">
            <button ion-button color="secondary" class="rosy-button">import my period data </button>
            <button ion-button color="secondary" class="rosy-button" (click)="nextOnboardingStep()">start from scratch </button>
        </div>
    </div>
    <div *ngIf="onboardingStep === 3">
        <img id="cycle" src="./assets/cycle.png">
        <div class="centered onboarding-centered" id="onboarding-3">
            <div class="fancy-title"></div>
            <button ion-button color="secondary" class="rosy-button">is your period regular?<span class="dashes">--</span></button>
            <button ion-button color="secondary" class="rosy-button">about how many days does it last?<span class="dashes">--</span></button>
            <button ion-button color="secondary" class="rosy-button">do you get pms?<span class="dashes">--</span></button>
            <button ion-button color="secondary" class="rosy-button">do you use birth control?<span class="dashes">--</span></button>
            <button ion-button color="secondary" class="rosy-button">what's your preferred hygiene product?<span class="dashes">--</span></button>
            <button ion-button color="secondary" class="rosy-button">any pre-existing conditions?<span class="dashes">--</span></button>
        </div>
        <div class="onboarding-checkmarks" id="cycle-checkmarks">
            <div *ngFor="let checkmark of cycleStepBooleans; let i = index">
                <img *ngIf="i < cycleStep" src="./assets/check-highlighted.png">
                <img *ngIf="i >= cycleStep" src="./assets/check.png">
            </div>
        </div>
        <div class="next-cycle" (click)="nextCycleStep()">next: goals <ion-icon name="arrow-forward"></ion-icon></div>
    </div>
    <div *ngIf="onboardingStep === 4">
        <img id="cycle" src="./assets/goals.png">
        <div class="centered onboarding-centered" id="onboarding-4">
            <div class="fancy-title"></div>
            <div id="goal-images">
                <div *ngFor="let image of goalImages; let i = index" [class.wider-goal]="((i+1)%3 === 0)" (click)="highlight(image)">
                    <div class="goal-img-container">
                        <img [width]="image.width" src="./assets/{{image.src}}">
                    </div>
                    <div [class.selected]="image.selected">{{image.text}}</div>
                </div>
            </div>
        </div>
        <div class="onboarding-checkmarks" id="goal-checkmarks">
            <div *ngFor="let checkmark of cycleStepBooleans; let i = index">
                <img *ngIf="i < cycleStep" src="./assets/check-highlighted.png">
                <img *ngIf="i >= cycleStep" src="./assets/check.png">
            </div>
        </div>
        <div class="next-cycle" (click)="nextCycleStep()">next: account <ion-icon name="arrow-forward"></ion-icon></div>
    </div>
    <div *ngIf="onboardingStep === 5">
        <img id="account" src="./assets/account.png">
        <div class="centered onboarding-centered" id="onboarding-5">
            <div class="fancy-title"></div>
            <button ion-button color="secondary" class="rosy-button">name<span class="dashes">--</span></button>
            <button ion-button color="secondary" class="rosy-button">birthday<span class="dashes">-/-/-</span></button>
            <button ion-button color="secondary" class="rosy-button">what are your pronouns?<span class="dashes">--</span></button>
            <button ion-button color="secondary" class="rosy-button">sync with your calendar?<span class="dashes">--</span></button>
            <div class="add-new" id="avatar"><ion-icon name="camera"></ion-icon> add an avatar</div>
            <div class="add-new" id="prescriptions"><ion-icon name="barcode"></ion-icon> scan prescriptions</div>
        </div>
        <div class="onboarding-checkmarks" id="account-checkmarks">
            <div *ngFor="let checkmark of cycleStepBooleans; let i = index">
                <img *ngIf="i < cycleStep" src="./assets/check-highlighted.png">
                <img *ngIf="i >= cycleStep" src="./assets/check.png">
            </div>
        </div>
        <div class="next-cycle" (click)="nextCycleStep()">let's get #rosy! <ion-icon name="arrow-forward"></ion-icon></div>
    </div>
</ion-content>
