page-home {
    font-family: karla;
    font-size: 17px;
}

page-home ion-content {
    background-image: -webkit-linear-gradient(89deg, #FFFFFF 6%, #FCECF4 20%, #FADCEB 61%) !important;
    background-image: -o-linear-gradient(89deg, #FFFFFF 6%, #FCECF4 20%, #FADCEB 61%) !important;
    background-image: linear-gradient(179deg, #FFFFFF 6%, #FCECF4 20%, #FADCEB 61%) !important;
}

#items {
    margin: 0 auto;
    width: 95%;
}

.item-button {
    background: #C6F7EC;
    color: #000;
    text-align: left !important;
}

.item-button ion-icon {
    position: absolute;
    right: 10px;
    top: 1px;
}

.item-button .button-inner {
    display: inline-block;
}

.item-icon {
    display: inline-block;
    width: 40px;
}

.item-icon > img {
    margin: 0 auto;
    height: 30px;
    vertical-align: middle;
}

#smiley {
    width: 99px;
    display: block;
    margin: 0 auto;
    margin-top: 40px;
}

.subheader {
    text-align: center;
    font-family: Miniver;
    font-size: 20px;
    color: #000000;
    margin-top: 18px;
    margin-bottom: 9px;
}

#add-new-thing {
    position: absolute;
    top: 33px;
    right: 17px;
    width: 25px;
}

.item-popup {
    z-index: 99999;
    position: fixed;
    top: 190px;
    margin: 0 auto;
    width: 95%;
    background: #C6F7EC;
    border: 2px solid #FFF;
    border-radius: 2px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.5s ease;                  
    -moz-transition: all 0.5s ease;                 
    -o-transition: all 0.5s ease;   
    -ms-transition: all 0.5s ease;          
    transition: all 0.5s ease;
}

.item-popup.open {
    opacity: 1;
    visibility: visible;
}

#pu-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #FADFEC;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.5s ease;                  
    -moz-transition: all 0.5s ease;                 
    -o-transition: all 0.5s ease;   
    -ms-transition: all 0.5s ease;          
    transition: all 0.5s ease;
}

#pu-bg.open {
    opacity: 0.9;
    visibility: visible;
}

.popup-header {
    text-align: center;
    font-family: karla-italic-bold;
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 25px;
}

#closepu {
    position: fixed;
    top: 33px;
    right: 17px;
    width: 25px;
    z-index: 99998;
}

.popup-img {
    position: fixed;
    top: 50px;
    left: 90px;
    width: 200px;
}

.popup-body {
    padding-left: 20px;
}

.popup-action {
    text-align: center;
}

.popup-action > button {
    margin-top: 30px;
    margin-bottom: 20px;
    background: #FFFFFF;
    box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.50);
    border-radius: 1px;
    width: 100px;
    height: 35px;
}