<ion-content>
    <img id="cycle-header" src="./assets/cycle-header.png">
    <div id="cycle-message">
        <div>{{monthYear}}</div>
    </div>
    <div id="calendar">
        <div *ngFor="let square of calendarSquares" class="calendar-square">
            <span class="squareNum" [class.ovulate]="square.num === randPeriod" [class.periodstart]="square.num === randPeriod + 2" [class.period]="square.num > randPeriod + 2 && square.num < randPeriod + 7" [class.periodend]="square.num === randPeriod + 7"><span *ngIf="square.num">{{square.num}}</span></span>
        </div>
    </div>
    <div class="health-dropdowns" id="cycle-dd">
        <div *ngFor="let dropdown of dropdowns; let i = index" class="dropdown" [class.middle]="i > 0">
            <button ion-button color="favorite" class="dropdown-header" [class.open]="dropdown.open && i === 0" (click)="toggleDropdown(dropdown)">{{dropdown.title}}<ion-icon name="arrow-forward"></ion-icon></button>
            <div class="dd-body" [class.open]="dropdown.open && i === 0">
                ovulation; period start - end
                <div *ngFor="let entry of diary">
                    {{entry.ovulation}}; {{entry.start}} - {{entry.end}}
                </div>
            </div>
        </div>
    </div>
</ion-content>
