<ion-content>
    <img id="cycle-header" src="./assets/cycle-header.png">
    <div id="cycle-message">
        <div>{{monthYear}}</div>
    </div>
    <div id="calendar">
        <div *ngFor="let square of calendarSquares" class="calendar-square">
            <span class="squareNum" *ngIf="square.num">{{square.num}}</span>
        </div>
    </div>
    <div class="health-dropdowns" id="cycle-dd">
        <div *ngFor="let dropdown of dropdowns; let i = index" class="dropdown" [class.middle]="i > 0">
            <button ion-button color="favorite" class="dropdown-header">{{dropdown.title}}<ion-icon name="arrow-forward"></ion-icon></button>
        </div>
    </div>
</ion-content>
