page-cycle {
    font-family: karla;
    font-size: 17px;
}

page-cycle ion-content {
    background-image: -webkit-linear-gradient(89deg, #FFFFFF 6%, #FCECF4 20%, #FADCEB 61%) !important;
    background-image: -o-linear-gradient(89deg, #FFFFFF 6%, #FCECF4 20%, #FADCEB 61%) !important;
    background-image: linear-gradient(179deg, #FFFFFF 6%, #FCECF4 20%, #FADCEB 61%) !important;
}

#cycle-message {
    width: 95%;
    margin: 0 auto;
    margin-top: 30px;
    padding: 5px 0px;
    font-size: 17px;
    text-align: center;
    line-height: 30px;
    border-top: 3px solid #FFF;
    border-bottom: 3px solid #FFF;
}

#calendar {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.calendar-square {
    width: 13.5vw;
    height: 13.5vw;
    background: #FFF;
    margin-bottom: 3px;
    position: relative;
}

.squareNum {
    position: absolute;
    bottom: 2px;
    right: 5px;
}

.squareNum > span {
    z-index: 9999 !important;
}

.squareNum.ovulate {
    border: 1px solid #C6F7EC;
    padding: 0px 3px;
    border-radius: 20px;
    background: #C6F7EC;
}

.squareNum.periodstart {
    border: 1px solid lightcoral;
    padding: 0px 3px;
    padding-right: 7px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background: lightcoral;
    right: -2px;
}

.squareNum.period {
    border: 1px solid lightcoral;
    padding: 0px 3px;
    background: lightcoral;
    padding-left: 33px;
    padding-right: 7px;
    right: -1px;
}

.squareNum.periodend {
    border: 1px solid lightcoral;
    padding: 0px 3px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-left: 30px;
    background: lightcoral;
}

#cycle-dd {
    margin-top: 0;
    margin-bottom: 50px;
}

#cycle-dd .dropdown-header ion-icon {
    -webkit-transition: all 1s ease;                  
    -moz-transition: all 1s ease;                 
    -o-transition: all 1s ease;   
    -ms-transition: all 1s ease;          
    transition: all 1s ease;
}

#cycle-dd .dropdown-header.open ion-icon {
    transform: rotate(90deg);
}