page-onboarding {
    font-family: "Karla";
}

#logo {
    margin-top: 10%;
    margin-left: 10px;
}

#signup-buttons {
    position: relative;
    top: -90px;
    width: 75%;
    margin: 0 auto;
}

.rosy-button {
    height: 40px;
    line-height: 40px;
    width: 100%;
    text-align: center;
    border-radius: 0px;
    box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.50);
    margin: 8px 0;
    padding-left: 10px;
}

#signup-buttons > .rosy-button ion-icon {
    position: absolute;
    right: 15px;
    font-size: 25px;
}

#login {
    margin-top: 25%;
    text-align: center;
}

#email-signup {
    width: 75%;
    margin: 0 auto;
    margin-top: -80px;
}

.login-input {
    background: rgba(255,255,255,0.7);
    margin-bottom: 5px;
    height: 45px;
    line-height: 45px;
    font-size: 17px;
    padding-left: 10px;
}

.login-input > ion-input {
    line-height: 0;
    width: 160px;
    float: right;
}

.login-input > ion-input > input {
    padding-right: 0 !important;
    text-align: right;
}

#password {
    width: 120px;
}

.centered {
    text-align: center;
}

.onboarding-centered {
    position: relative;
    top: -90px;
    margin: 0 auto;
}

#onboarding-1 {
    font-family: "Karla-Italic";
    top: 150px;
    font-weight: 600;
    font-size: 18px;
}

#onboarding-1 > .rosy-button {
    font-family: "Karla";
    width: 80%;
    margin: 50px auto;
}

#privacy-policy {
    text-align: center;
    margin-top: 70%;
}

#weird-images {
    margin-bottom: 30px;
}

#weird-images > img {
    margin: 0 10px;
}

#star {
    position: relative;
    top: -25px;
    width: 30px;
}

#lightning {
    width: 45px;
}

#alien {
    width: 55px;
}

#planet {
    width: 70px;
    position: relative;
    top: -10px;
}

#cycle {
    position: relative;
    top: 75px;
    width: 140px;
    display: block;
    margin: 0 auto;
}

#onboarding-3 {
    top: 80px;
}

#onboarding-3 .rosy-button {
    text-align: left;
    font-size: 17px;
}

#onboarding-3 .button-inner {
    display: inline-block;
}

.next-cycle {
    position: fixed;
    bottom: 30px;
    right: 20px;
}

.next-cycle > ion-icon {
    position: relative;
    top: 2px;
    left: 2px;
}

.onboarding-checkmarks {
    width: 40%;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
}

.onboarding-checkmarks div {
    display: inline-block;
}

.onboarding-checkmarks img {
    width: 30px;
}

#venus {
    display: block;
    margin: 0 auto;
    margin-top: 100px;
    width: 230px;
}

#onboarding-2 {
    width: 75%;
    margin: 0 auto;
    margin-top: 60px;
}

#onboarding-2 .rosy-button {
    text-align: center;
}

#onboarding-4 {
    width: 95%;
    margin-top: 170px;
}

#goal-images {
    display: inline-flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#goal-images > div {
    width: 30%;
    font-size: 17px;
}

#goal-images .selected {
    text-shadow: -3px 0 #FADFEC, 0 3px #FADFEC,
      3px 0 #FADFEC, 0 -3px #FADFEC;
}

.wider-goal {
    width: 100% !important;
}

.goal-img-container {
    height: 40px;
}

#goal-checkmarks {
    margin-top: -50px !important;
}

#onboarding-5 {
    margin-top: 190px;
}

#account {
    position: relative;
    top: 80px;
    width: 200px;
    display: block;
    margin: 0 auto;
}

#onboarding-5 .rosy-button {
    text-align: left !important;
    font-size: 17px;
}

#onboarding-5 .button-inner {
    display: inline-block;
}

.add-new ion-icon {
    font-size: 30px;
    position: relative;
    top: 7px;
    margin-left: 10px;
    width: 30px;
}

.add-new {
    text-align: left;
    line-height: 40px;
    font-size: 16px;
}

#account-checkmarks {
    margin-top: -40px !important;
}

.dashes {
    position: absolute;
    right: 8px;
    transform: scale(1.4);
}