page-onboarding {
    font-family: "Karla";
}

#logo {
    margin-top: 10%;
}

#signup-buttons {
    position: relative;
    top: -90px;
    width: 75%;
    margin: 0 auto;
}

.rosy-button {
    height: 50px;
    line-height: 50px;
    width: 100%;
    text-align: center;
    border-radius: 0px;
    box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.50);
}

#signup-buttons > .rosy-button ion-icon {
    position: absolute;
    right: 15px;
    font-size: 25px;
}

#login {
    margin-top: 25%;
    text-align: center;
}

#email-signup {
    width: 75%;
    margin: 0 auto;
}

.login-input {
    background: #FFF;
    opacity: 0.7;
    margin-bottom: 5px;
    height: 45px;
    line-height: 45px;
    font-size: 16px;
}

.login-input > ion-input {
    width: 70%;
    position: absolute;
}

.centered {
    text-align: center;
}

.onboarding-centered {
    position: relative;
    top: -90px;
    margin: 0 auto;
}

#onboarding-1 {
    font-family: "Karla-Italic";
    top: 150px;
    font-weight: 600;
    font-size: 18px;
}

#onboarding-1 > .rosy-button {
    font-family: "Karla";
    width: 80%;
    margin: 50px auto;
}

#privacy-policy {
    text-align: center;
    margin-top: 70%;
}

#weird-images {
    margin-bottom: 30px;
}

#weird-images > img {
    margin: 0 10px;
}

#star {
    position: relative;
    top: -25px;
    width: 30px;
}

#lightning {
    width: 45px;
}

#alien {
    width: 55px;
}

#planet {
    width: 70px;
    position: relative;
    top: -10px;
}

#onboarding-3 {
    top: 150px;
}

#onboarding-3 .rosy-button {
    text-align: left;
    font-size: 15px;
}

#onboarding-3 .button-inner {
    display: inline-block;
}