<ion-content padding>
    <div *ngIf="!loggingIn">
        <img id="logo" src="./assets/logo.png">
        <div  id="signup-buttons">
            <button ion-button color="secondary" class="rosy-button">sign up with google <ion-icon name="logo-google"></ion-icon></button>
            <button ion-button color="secondary" class="rosy-button">sign up with facebook <ion-icon name="logo-facebook"></ion-icon></button>
            <button ion-button color="secondary" class="rosy-button" (click)="gotoEmailSignup()">sign up with email <ion-icon name="mail"></ion-icon></button>
        </div>
        <div id="login">already #rosy? login!</div>
    </div>
    <div *ngIf="emailSignup && !loggedIn">
        <img id="logo" src="./assets/logo.png">
        <div id="email-signup">
            <div class="login-input">email<ion-input type="text" [(ngModel)]="email"></ion-input></div>
            <div class="login-input">password<ion-input type="password" [(ngModel)]="password"></ion-input></div>
            <button ion-button color="secondary" class="rosy-button" (click)="signupByEmail(email, password)">get #rosy</button>
        </div>
    </div>
    <div *ngIf="onboardingStep === 1">
        <div class="centered onboarding-centered" id="onboarding-1">
            <div id="weird-images">
                <img id="star" src="./assets/star.png">
                <img id="lightning" src="./assets/lightning.png">
                <img id="alien" src="./assets/alien.png">
                <img id="planet" src="./assets/planet.png">
            </div>
            this is ur space!<br>
            to optimize this new dimension, we'll<br>
            ask u about ur health, habits, and goals.<br>
            so before u move in, do u mind if we get<br>
            familiar?<br>
            <button ion-button color="secondary" class="rosy-button" (click)="nextOnboardingStep()">I'm ready!</button>
        </div>
        <div id="privacy-policy">privacy policy</div>
    </div>
    <div *ngIf="onboardingStep === 2">
        <div class="centered onboarding-centered" id="onboarding-3">
            <div class="fancy-title"></div>
            <button ion-button color="secondary" class="rosy-button">is your period regular?</button>
            <button ion-button color="secondary" class="rosy-button">about how many days does it last?</button>
            <button ion-button color="secondary" class="rosy-button">do you get pms?</button>
            <button ion-button color="secondary" class="rosy-button">do you use birth control?</button>
            <button ion-button color="secondary" class="rosy-button">what's your preferred hygiene product?</button>
            <button ion-button color="secondary" class="rosy-button">any pre-existing conditions?</button>
        </div>
    </div>
    <div *ngIf="onboardingStep === 3">
        <div class="onboarding-centered" id="onboarding-2">
            <div class="fancy-title">cycle</div>
            <ion-input type="file"></ion-input>
            <button ion-button color="secondary" class="rosy-button" (click)="nextOnboardingStep()">I'm ready!</button>
        </div>
        <div id="privacy-policy">privacy policy</div>
    </div>
</ion-content>
