page-profile {
    font-family: karla;
    font-size: 17px;
}

page-profile ion-content {
    background-image: -webkit-linear-gradient(89deg, #FFFFFF 6%, #FCECF4 20%, #FADCEB 61%) !important;
    background-image: -o-linear-gradient(89deg, #FFFFFF 6%, #FCECF4 20%, #FADCEB 61%) !important;
    background-image: linear-gradient(179deg, #FFFFFF 6%, #FCECF4 20%, #FADCEB 61%) !important;
}

#profpic {
    position: absolute;
    width: 122px;
    top: 54px;
    left: 127px;
}

#prof-dd {
    margin-top: 0;
    margin-bottom: 50px;
}

#prof-dd .dropdown-header ion-icon {
    -webkit-transition: all 1s ease;                  
    -moz-transition: all 1s ease;                 
    -o-transition: all 1s ease;   
    -ms-transition: all 1s ease;          
    transition: all 1s ease;
}

#prof-dd .dropdown-header.open ion-icon {
    transform: rotate(90deg);
}

#profname {
    text-align: center;
    margin-top: 50px;
    font-family: Miniver;
    font-size: 31px;
    color: #000000;
    text-shadow: 1px 3px 2px rgba(80,226,193,0.61);
    height: 36px;
}

#profdesc {
    text-align: center;
    font-family: Karla-Italic;
    font-size: 14px;
    color: #000000;
    margin-bottom: 15px;
}

#bigstarleft {
    width: 41px;
    position: absolute;
    left: 32px;
    top: 135px;
}

#littlestarleft {
    width: 13px;
    position: absolute;
    left: 24px;
    top: 173px;
}

#medstarright {
    width: 24px;
    position: absolute;
    right: 58px;
    top: 140px;
}

.dd-body {
    max-height: 0px;
    overflow-y: hidden;
    width: 95%;
    margin: 0 auto;
    -webkit-transition: all 1s ease;                  
    -moz-transition: all 1s ease;                 
    -o-transition: all 1s ease;   
    -ms-transition: all 1s ease;          
    transition: all 1s ease;
}

.dd-body.open {
    max-height: 420px;
    border-top: 2px solid #FFF;
    padding: 5px;
    padding-left: 10px;
}

.apt-input {
    background: rgba(255,255,255,0.7);
    margin-bottom: 5px;
    height: 45px;
    line-height: 45px;
    font-size: 17px;
    padding-left: 10px;
}

.apt-input-checkbox {
    background: rgba(255,255,255,0.7);
    margin-bottom: 5px;
    height: 45px;
    line-height: 45px;
    font-size: 17px;
    padding-left: 10px;
    position: relative;
}

.apt-input-checkbox ion-checkbox {
    position: absolute;
    top: 13px;
    right: 15px;
}

.apt-input > ion-input,
.apt-input > ion-datetime {
    line-height: 0;
    width: 220px;
    float: right;
}

.apt-input > ion-input > input {
    padding-right: 0 !important;
    text-align: right;
}

#docemail {
    width: 175px;
}

#aptdate {
    width: 115px;
    display: inline-block;
    z-index: 999;
    position: relative;
}

#aptdate button {
    display: none;
}

#date-cal {
    position: relative;
    right: -180px;
    color: rgba(0,0,0,0.4);
    z-index: 0;
}

#apt-textarea {
    background: rgba(255,255,255,0.7);
    margin-bottom: 5px;
    height: 100px;
    font-size: 17px;
    padding: 1px 10px;
    position: relative;
}

#body-cover {
    width: 100% !important;
    height: 410px !important;
    position: absolute;
    left: 0;
    background: #C6F7EC;
    opacity: 0.8;
    z-index: 999999999;
    text-align: center;
    padding-top: 47%;
}