<ion-content>
    <img id="bgpic" src="./assets/bgpic.png">
    <img id="profpic" src="./assets/avatar.png">
    <div id="profname">Della Carter</div>
    <div id="profdesc">age 30. austin, tx:</div>
    <img id="bigstarleft" src="./assets/bigstarleft.png">
    <img id="littlestarleft" src="./assets/littlestarleft.png">
    <img id="medstarright" src="./assets/medstarright.png">
    <div class="health-dropdowns" id="prof-dd">
        <div *ngFor="let dropdown of dropdowns; let i = index" class="dropdown" [class.middle]="i > 0">
            <button ion-button color="favorite" [class.open]="dropdown.open && i === 3" class="dropdown-header" (click)="toggleDropdown(dropdown)">{{dropdown.title}}<ion-icon name="arrow-forward"></ion-icon></button>
            <div class="dd-body" [class.open]="dropdown.open && i === 3">
                <div *ngIf="sendingEmail && i === 3" id="body-cover">
                    <ion-spinner></ion-spinner>
                </div>
                <div class="apt-input">doc's name<ion-input type="text" [(ngModel)]="name" placeholder="mark greene, like last time?"></ion-input></div>
                <div class="apt-input">doc office email<ion-input id="docemail" type="email" [(ngModel)]="email" placeholder="we'll contact them"></ion-input></div>
                <div class="apt-input">when?<ion-datetime id="aptdate" type="date" [(ngModel)]="date"></ion-datetime><span id="date-cal" *ngIf="!date">pick a date</span></div>
                <div class="apt-input-checkbox">attach your journals<ion-checkbox color="favorite" [(ngModel)]="journals"></ion-checkbox></div>
                <div class="apt-input-checkbox">attach height & weight<ion-checkbox color="favorite" [(ngModel)]="wh"></ion-checkbox></div>
                <div id="apt-textarea"><ion-textarea [(ngModel)]="xtra" placeholder="write your own email (or just press send and we'll write it for you)"></ion-textarea></div>
                <button ion-button color="secondary" class="rosy-button" (click)="sendEmail(dropdown)">send!</button>
            </div>
        </div>
    </div>
</ion-content>
